html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  min-height: 100%;
  background-image: radial-gradient(ellipse at top , #000000 0%,  #172633 95%);
}

@import 'variable';

#__next, main {
  height: 100%;
}

a {
  color: $link;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import 'stars';

.container {
  max-width: 960px;
  margin: auto;
  padding: $spacing 0px;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.3em;
}
p {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;
}
h1, p {
  color: #FFF;
  margin: $spacing 0;
}